<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->

    <title>Top Items Plugin</title>

    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/plenty/assets/images/favicon.ico" id="fav" data-pid="739">

</head>
<body>
<div id="page-body">
    {% block PageBody %}
        <!-- inserts content of TopItems.twig here -->
    {% endblock %}
</div>
</body>
</html>